
.dash-body{
	display: flex;
	height: 100%;
	width: 100%;
}
.sidebar{
	position: fixed;
	width: 20%;
}
.sidebar-body{
	position: fixed;
	right: 0px;
	width: 80%;
    height: 100%;
	border-left: 1px solid #eeeeee;
	overflow: scroll;
}